<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Marriage Calculator</title>
</head>
<body>
    <form action="#" th:action="@{/saves}" th:object="${marriageCalculator}" method="POST">
        <label>BoyName</label>
                <input type="text" th:field="*{boyName}" >



                <label> GirlName</label>
                <input type="text" th:field="*{girlName}">



                <label>BoyAge</label>
                <input type="text" th:field="*{boyAge}">



                <label>GirlAge</label>
                <input type="text" th:field="*{girlAge}">


        <button type="submit">Save Couple</button>
    </form>
</body>
</html>