<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Marriage Calculator</title>
</head>
<body>
    <form action="#" th:action="@{/api/saves}" th:object="${formData}" method="POST">
        <label>BoyName</label>
                <input type="text" th:field="*{boyName}" name="boyName" >



                <label> GirlName</label>
                <input type="text" th:field="*{girlName}" name="girlName">



                <label>BoyAge</label>
                <input type="text" th:field="*{boyAge}" name="boyAge">



                <label>GirlAge</label>
                <input type="text" th:field="*{girlAge}" name="girlAge">


        <button type="submit">Save Couple</button>
    </form>
</body>
</html>